@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model ApplicationCore.Models.MovieCardModel

<div class="movie-card">
    <img src="@Model.PosterUrl" alt="@Model.Title" />
    <h4>@Model.Title</h4>
</div>
